#忽略构建文件及其他缓存文件
**/build/
**/cmake-build-debug/
**/cmake-build-release/
**/.xmake/
**/.idea/
**/.vs/
**/.vscode/
**/.cache/
#忽略目标文件
target/
#忽略生成的构建文件
compile_commands.json
CMkaeSettings.json
#忽略特定后缀文件
**.pdb
**.exe
**.dll
**.so
**.lib
**.a