#忽略构建文件及其他缓存文件
**/build/
**/cmake-build-debug/
**/cmake-build-release/
**/.xmake/
**/.idea/
**/.vs/
**/.vscode/
**/.cache/
target/
compile_commands.json
CMakeLists.txt
CMkaeSettings.json
**.pdb
**.exe
./out/
